{% include 'djson_field/item_info.html' with rules=rules name=name key=key field_key=field_key %}
<ul class="jsonFieldDict jsonFieldItemValue"
		name="{{ name }}">
	{% for key, item in items.iteritems %}
		<li class="jsonFieldItem">
			{% if rules.allow_removing %}
				<a href="#" class="deleteItem">Удалить</a>
			{% endif %}
			{{ item|safe }}
		</li>
	{% endfor %}
	{{ controls|safe }}
	{% if templates %}
		<li class="hidden"><input name="{{ name }}[_]" value="__KEEP_DICT__" /></li>
		<li class="templates">{% include "djson_field/item_templates.html" %}</li>
	{% endif %}
</ul>